{
  "prettier.singleQuote": true,
  "prettier.eslintIntegration": true,
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true
}
